# IntelliJ
.idea
*.iml

# Compiled code
build

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Dojo
*.dojo

# Local .terraform directories
**/.terraform/*
/terraform/nhs_deployment.tfplan
/terraform/tf-out.json